body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #6A0DAD;
    color: #fff;
    padding: 10px;
}

/* Card styling */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card strong {
    font-weight: bold;
    color: #6A0DAD;
    font-size: 1.2em;
}

.card p {
    margin: 10px 0;
    line-height: 1.6;
}

.card p em {
    color: #888;
    font-size: 0.9em;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 20px auto;
    /* Add margin to the top and bottom */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

/* Button Styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.btn-edit {
    background-color: #007ACC;
    color: #fff;
}

.btn-edit:hover {
    background-color: #005D91;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-delete {
    background-color: #D32F2F;
    color: #fff;
}

.btn-delete:hover {
    background-color: #B71C1C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #007ACC;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Ensure the footer stays at the bottom */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    /* Take up remaining space */
}
